body {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	background: url(../img/bg.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-color: #6495ED;
}

.navbar {
    width: 80%;
    height: 95px;
	margin: 0 auto;
}

header  {
	background: #DCDCDC;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

#logo {
	width: 4vw;
	float: left;
	margin-top: 1vw;
	position: absolute;
}

.menu-toggle {
	display: none;
	cursor: pointer;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	/*
	font-size: 20px;
	text-transform: uppercase;
	*/
}

nav li {
	display: inline-block;
	margin-left: 3vw;
	padding-top: 3vw;
	position: relative;
}

nav a {
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 2vw;
	text-transform: uppercase;
	/*background: black;*/
}

nav a:hover {
	color: #0000ff;
}

.active-link {
	font-weight: bold;
	font-size: 2vw;
	text-transform: uppercase;
	cursor: default;
	color: #0000FF;
}

.foot1{
	
	text-align: center;

}

.foot2{	
	
}
.foot3{
	
}

/*#foot-table {
	text-align: center;	
}*/
/*******************/

.banner {
	height: 60vh;
	position: relative;
	display: block;
	/*background: url(../img/banner5.jpg);
	background-size: cover;
	background-position: center;
	background-origin: content-box;
	*/
}

.cycle-prev, .cycle-next {
	font-size: 3vw;
	font-weight: bold;
	color: #0000FF;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 9999;
	top: 24vh;
}

.cycle-prev {
	left: 10%;
}
.cycle-next {
	right: 10%;
}

.cycle-pager {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 3vh;
	z-index: 9999;
}

.cycle-pager span {
	color: transparent;
	white-space: nowrap;
	width: 1vw;
	height: 1vw;
	display: inline-block;
	border: 1.5px solid #DCDCDC;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.cycle-pager-active {
	background: #DCDCDC;
}


/******************/

.tracking {
	text-align: center;
	margin-top: 15px;
	/*border-right: 5px solid #8c030d;*/
}

.container label {
	color: black;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
}

.container .tariff-check table label {
	font-size: 20px;
}

.container input[type=text] {
    padding: 0.2vh 1vw;
    border: 0.3vw solid #DCDCDC;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
.container input[type=text]::-webkit-input-placeholder {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}
.container input[type=text]:focus::-webkit-input-placeholder {
	color: transparent;
}

.container .tariff-check input[type=text] {
	padding: 0;
	width: 40px;
	margin-left: 15px;
}

.button {
    background-color: #DCDCDC;
    border: none;
    color: white;
    font-family: Agency FB;
    margin: 10px 0;
    padding: 5px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.fromto:before {
	content: "";
	background-color: #8c030d;
	position: absolute;
	width: 5px;
	height: 125px;
	right: 100%;
	top: -10px;
	display: block;
}
.fromto{
	text-align: center;
	margin-top: 25px;
}
.fromto table {
	margin-left: 35px;
}

.tariff-check {
	margin-top: 15px;
}

.tariff-check table {
	margin-top: 10px;
}
/*******************/
.container .header {
	text-align: center;
	text-transform: uppercase;
	color: #8c030d;
	font-size: 3vw;
	font-weight: bold;
	margin-top: 5vh;
	margin-bottom: -1vh;
}

.container .label {
	text-align: center;
	text-transform: uppercase;
	color: #8c030d;
	font-size: 2vw;
}

.sender-info table, .recipient-info table, .package-info table {
	margin-left: 8vw;
}
.sender-info table input, .recipient-info table input, .package-info table input {
	margin-left: 5vw; 
}

input.address {
	height: 10vh;
}

.sender-info table td, .recipient-info table td {
	vertical-align: top;
}

.package-info {
	margin-top: 1vw;
}

.package-info .dimension {
	margin-top: 12vh;
}

.package-info .dimension input[type=text] {
	padding: 0;
	width: 40px;
	margin-left: 15px;
}

.deliver-btn{
	margin-top: 3vh;
	margin-left: 10vw;
}
/**************************************************/

.prohibited-box {
	display: block;
	position: relative;
	width: 50%;
	left: 25%;
	top: 25px;
}
.prohibited-box img {
	margin-top: 50px;
}


#button {
margin: 5% auto;
text-align: center;
}

#button a {	
background-color: #DCDCDC;
    border: none;
    color: black;
    font-family: helvetica;
    margin: 10px 0;
    padding: 5px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
}

#popup {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}

.window {
width: 400px;
height: 225px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

.close-button {
width: 20px;
height: 20px;
background: #000;
border-radius: 50%;
border: 3px solid #fff;
display: block;
text-align: center;
color: #fff;
text-decoration: none;
position: absolute;
top: -10px;
right: -10px;
font-size: 12px;
}

#popup:target {
visibility: visible;
}


#popup-signup {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}

.window-signup {
width: 400px;
height: 225px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

#popup-signup:target {
visibility: visible;
}

#resi {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}

.window-resi {
width: 400px;
height: 225px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

#resi:target {
visibility: visible;
}


#check-harga {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}

.window-check-harga {
width: 400px;
height: 225px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

#check-harga:target {
visibility: visible;
}


#order {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}

.window-order {
width: 400px;
height: 250px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

#order:target {
visibility: visible;
}

/**************************************/
/*DATA*/
#hh {
	font-size: 25px;
	font-family: times;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #DCDCDC;
}

.table th, tr{
	background-color: white;
	font-family: helvetica;
	text-align: center;
}